<% layout("layouts/boilerplatecode") -%>
    

    <body>
        <form action="/showList/<%= data._id %>?_method=PUT" method="POST" class="col-8 needs-validation" novalidate id="edit-new">
            <h2 style=" color: #008080;" class="new-heading" class="edit-heading">Edit Listing</h2>


            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="<%= data.title %>" name="listing[title]" class="form-control" required minlength="3">
                <div class="invalid-feedback">
                    Title should be valid.
                </div>
            </div>
           

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" id="" cols="30" rows="2"
                    class="form-control" required minlength="10"><%= data.description %></textarea>
                    <div class="invalid-feedback">
                        please enter the valid description.
                    </div>
            </div>
            

            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input type="text" value="<%= data.image.url %>" name="listing[image][url]" class="form-control" placeholder="Enter Image URL" required>
                <br>
                <input type="text" value="<%= data.image.filename %>" name="listing[image][filename]" class="form-control" placeholder="Enter filename (optional)" required>
                
            </div>

            

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" value="<%= data.price %>" name="listing[price]" class="form-control" required minlength="1">
                    <div class="invalid-feedback">
                        Enter Valid Price.
                    </div>
                </div>
                

                <div class="mb-3 col-md-4">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" value="<%= data.country %>" name="listing[country]" class="form-control" required minlength="2">
                    <div class="invalid-feedback">
                        Enter a Valid Country.
                    </div>
                </div>
            </div>
            

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" value="<%= data.location %>" name="listing[location]" class="form-control" required minlength="2">
                <div class="invalid-feedback">
                    Enter a Valid Location.
                </div>
            </div>
            

            <button type="submit" class="btn btn-success">Submit</button>


        </form>

    </body>

    </html>