<% layout("layouts/boilerplatecode") -%>


  <style>
    #filters {
      display: flex;
      flex-wrap: wrap;
      margin-top: -1.0rem;
      
      /* Pulls the section up. Adjust this number as needed */
    }

    .filter {
      text-align: center;

      margin-right: 2rem;
      opacity: 0.7;
    }

    .filter:hover {
      opacity: 1;
    }

    .tax-info {
      display: none;
    }

    .toogle {
      border: 1px solid black;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      height: 1rem;
      padding: 1.5rem;
      margin-left: 3rem;
    }
  </style>

  <body>
    <div id="filters">
      
      <div class="filter">
        <a href="/"><div><i class="fa-solid fa-list"></i>
        </div>
        <p>Home</p></a>
        
      </div>


      <div class="filter">
        <a href="/listening?category=hotel"><div><i class="fa-solid fa-hotel"></i>
        </div>
        <p>Hotel</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=villa"><div><i class="fa-solid fa-house"></i>

        </div>
        <p>Villa</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=resort"><div><i class="fa-solid fa-hotel"></i>
        </div>
        <p>Resort</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=mountain city"><div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Mountains City</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=Appartment"><div><i class="fa-solid fa-building"></i>

        </div>
        <p>Appartment</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=farmshouse"><div><i class="fas fa-swimming-pool"></i></div>
          <p>FarmHouse</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=desert"><div><i class="fa-solid fa-sun"></i></div>
          <p>Desert</p></a>
        
      </div>

      <div class="filter">
        <a href="/listening?category=island"><div><i class="fa-solid fa-ship"></i></div>
          <p>Island</p></a>
        
      </div>

     





      <div class="filter">
        <a href="/listening?category=farm"><div><i class="fa-solid fa-tractor
          "></i></div>
          <p>Farms</p></a>
        
      </div>



      <div class="toogle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
          <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
        </div>
      </div>













    </div>


    <div class="index-page">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">

        <% for(let info of data){ %>
          <div class="card "> <a href="/showList/<%= info._id %>">
              <img src="<%= info.image.url %>" class="card-img-top" alt="<%= info.title %>">

              <div class="card-body">
                <p class="card-text">
                  <a href="/showList/<%= info._id %>" class="listing-link">
                    <b>
                      <%= info.title %>
                    </b>
                  </a><br>
                  <span>Category: <%= info.category || "No category" %></span>

                  <br>
                  &#8377; <%= info.price %> / night
                    <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                </p>
              </div>
            </a>
          </div>
          <% } %>
      </div>
    </div>

    <script>
      let tax_switch = document.getElementById("switchCheckDefault");
      tax_switch.addEventListener("click", () => {
        let tax_info = document.getElementsByClassName("tax-info");
        for (info of tax_info) {
          if (info.style.display != "inline") {
            info.style.display = "inline";
          } else {
            info.style.display = "none";
          }
        }


      })
    </script>
  </body>