<% layout("layouts/boilerplatecode") -%>

</head>
<body>
  
  <div class="index-page"> <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2" >
    
      <% for(let info of data){ %>
          <div class="card "> <a href="/showList/<%= info._id %>">
              <img src="<%= info.image.url %>" class="card-img-top" alt="<%= info.title %>">
      
              <div class="card-body"> <p class="card-text">
                  <a href="/showList/<%= info._id %>" class="listing-link">
                    <b><%= info.title %></b>
                  </a>
                    <br>
                    &#8377; <%= info.price %> / night </p>
              </div>
            </a>
          </div>
        <% } %>
    </div>
  </div> </body>
</html>